<section class="cookies-policy">

    <h1 class="heading-1">Cookie Policy</h1>

    <p class="regular-text">This Cookie Policy aims to inform you clearly and precisely about the cookies used on our
        application.</p>

    <h2 class="heading-2">What are cookies?</h2>

    <p class="regular-text">Cookies are small text files that are downloaded to your device when you access our
        application. Cookies allow
        our application, among other things, to store and retrieve information about your browsing habits or your device
        and, depending on the information they contain and how you use your device, they may be used to recognize the
        user.
    </p>

    <h2 class="heading-2">What types of cookies does our application use?</h2>

    <p class="regular-text">Our application uses the following cookies:</p>

    <ul class="regular-text cookies-policy__ul">
        <li class="text-list">The "acceptCookies" cookie is used to know if the user has accepted the use of cookies in
            our application.
        </li>
        <li class="text-list">The "gameMode" cookie is used to store the chosen game mode.</li>
        <li class="text-list">The "advancedGameScore" cookie is used to store the score of the advanced game mode.</li>
        <li class="text-list">The "normalGameScore" cookie is used to store the score of the classic game mode.</li>
        <li class="text-list">The "userMove" cookie is used to store the user's move.</li>
    </ul>

    <p class="regular-text">All these cookies expire when the browser is closed.</p>

    <h2 class="heading-2">How to disable cookies?</h2>

    <p class="regular-text">At any time, you can disable the use of cookies on our application by configuring your
        browser. However, we
        inform you that disabling cookies may affect the proper functioning of the application.
    </p>

    <p class="regular-text">We inform you that we do not use third-party cookies or advertising cookies, nor do we
        collect or request
        personal data from the user.
    </p>

    <p class="regular-text">We remind you that as a user of our application, you have the right to know, at any time,
        what cookies we use and
        why we use them, as well as to modify your settings to restrict their use or disable them.
    </p>

    <a routerLink="/home" class="cookies-policy__btn">Go to home</a>
</section>