.board {
    position: relative;
    width: 20rem;
    height: 9rem;
    margin: 3.125rem auto 0 auto;
    background-image: url('/assets/img/bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;

    @media (min-width:768px) {
        width: 30rem;
        height: 20rem;
    }

    @media (min-width:1200px) {
        width: 36rem;
        height: 23.5rem;
    }
}

.board__paper {
    position: absolute;
    left: 1.5625rem;
    top: -3.125rem;

    @media (min-width:1330px) {
        left: 2.8125rem;
    }

}

.board__scissors {
    position: absolute;
    right: 1.5625rem;
    top: -3.125rem;

    @media (min-width:1330px) {
        right: 2.8125rem;
    }
}

.board__rock {
    position: absolute;
    bottom: -2.1875rem;
    left: 50%;
    transform: translateX(-50%);
}