<footer class="footer">

    <nav class="footer__nav">
        <ul class="footer__ul">
            <li class="footer__li">
                <span class="footer__span">
                    Challenge by
                    <a class="footer__a" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend
                        Mentor</a>
                </span>
            </li>
            <li class="footer__li">
                <span class="footer__span">
                    Coded by
                    <a class="footer__a" href="https://www.frontendmentor.io/profile/Juan-Jose-Hidalgo"
                        target="_blank">Juan
                        Hidalgo</a>
                </span>
            </li>
            <li class="footer__li">
                <a routerLink="/cookies-policy" class="footer__a">Cookes policy</a>
            </li>
        </ul>
    </nav>
    
</footer>