@use "variables" as var;

.heading-1 {
    color: map-get($map: var.$colors-map, $key: "white");
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width:1330px) {
        font-size: 3.5rem;
    }
}

.heading-2 {
    color: map-get($map: var.$colors-map, $key: "white");
    font-size: 1.2rem;

    @media (min-width: 768px) {
        font-size: 2rem;
    }

    @media (min-width: 1330px) {
        font-size: 2.5rem;
    }
}

.regular-text {
    color: map-get($map: var.$colors-map, $key: "white");
}

.small-text {
    color: map-get($map: var.$colors-map, $key: "white");
    font-size: .7rem;

    @media (min-width:768px) {
        font-size: .8rem;
    }
}

.text-list {
    list-style: circle;
    margin-left: 1rem;
}