@use "mixins" as mix;
@use "variables" as var;

.container {
    @include mix.flex-box(column, nowrap, space-between, center);
    gap: 1rem;
    width: 90%;
    max-width: 1440px;
    height: 100vh;
    min-height: 100vh;
    padding: 1rem 0;
    margin: 0 auto;
}

.footer {
    @include mix.flex-box(row, nowrap, center, center);
    gap: 1rem;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}

.footer__a {
    display: inline;
    color: map-get($map: var.$colors-map, $key: "white");
}