<div class="container">

    <router-outlet></router-outlet>

    <!--* Footer -->
    <footer class="footer">
        <span class="footer__span">
            Challenge by
            <a class="footer__a" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>
        </span> -

        <span class="footer__span">
            Coded by
            <a class="footer__a" href="https://www.frontendmentor.io/profile/Juan-Jose-Hidalgo" target="_blank">Juan
                Hidalgo</a>
        </span>

        <span>-</span>

        <a routerLink="/cookies-policy" class="footer__a">Cookes policy</a>
    </footer>
</div>