<div class="container">

    <!--* Score bar -->
    <header class="header">
        <app-score [score]="getScore" class="header__app"></app-score>
    </header>

    <!-- * Board -->
    <main class="main">
        <router-outlet></router-outlet>
    </main>

    <section class="rules">
        <button class="rules__btn">Rules</button>
    </section>

    <!--* Footer -->
    <footer class="footer">
        <span>
            Challenge by <a class="footer__a" href="https://www.frontendmentor.io?ref=challenge"
                target="_blank">Frontend Mentor</a>.
        </span>
        <span>Coded by <a class="footer__a" href="#">Juan Hidalgo</a>.</span>
    </footer>

</div>