@use "mixins" as mix;

.container {
    @include mix.flex-box(column, nowrap, flex-start, center);
    gap: 5rem;
    width: 90%;
    max-width: 1440px;
    height: 100vh;
    min-height: 100vh;
    padding: 2rem 0;
    margin: 0 auto;
}

.header, .main{
    width: 100%;
}