<div class="container">

    <router-outlet></router-outlet>

    <!--* Rules section -->
    <!-- <section class="rules">
        <button class="rules__btn" (click)="openModal()">Rules</button>
    </section> -->

    <!--* Footer -->
    <footer class="footer">
        <span>
            Challenge by <a class="footer__a" href="https://www.frontendmentor.io?ref=challenge"
                target="_blank">Frontend Mentor</a>
        </span> -
        <span>Coded by <a class="footer__a" href="https://www.frontendmentor.io/profile/Juan-Jose-Hidalgo"
                target="_blank">Juan Hidalgo</a></span>
        <span>-</span>
        <a routerLink="/cookies-policy" class="footer__a">Cookes policy</a>
    </footer>
</div>