@use "variables" as var;

.board__btn {
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: map-get($map: var.$colors-map, $key: "white");
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: .5rem solid;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        transform: scale(1.105);
    }

    @media (min-width: 768px) {
        width: 8rem;
        height: 8rem;
        border: .8rem solid;
        background-size: 3.5rem;
    }
}

.board__btn--paper {
    border-color: map-get($map: var.$colors-map, $key: "paper");
    box-shadow: inset 0 4px #c0c2c4, 0 5px map-get($map: var.$colors-map, $key: "paper-2");
    background-image: url('/assets/img/icon-paper.svg');
}

.board__btn--scissors {
    border-color: map-get($map: var.$colors-map, $key: "scissors");
    box-shadow: inset 0 4px #c0c2c4, 0 5px map-get($map: var.$colors-map, $key: "scissors-2");
    background-image: url('/assets/img/icon-scissors.svg');
}

.board__btn--rock {
    border-color: map-get($map: var.$colors-map, $key: "rock");
    box-shadow: inset 0 4px #c0c2c4, 0 5px map-get($map: var.$colors-map, $key: "rock-2");
    background-image: url('/assets/img/icon-rock.svg');
}

.board__btn--lizard{
    border-color: map-get($map: var.$colors-map, $key: "lizard");
    box-shadow: inset 0 4px #c0c2c4, 0 5px map-get($map: var.$colors-map, $key: "lizard-2");
    background-image: url('/assets/img/icon-lizard.svg');
}

.board__btn--spock{
    border-color: map-get($map: var.$colors-map, $key: "cyan");
    box-shadow: inset 0 4px #c0c2c4, 0 5px map-get($map: var.$colors-map, $key: "cyan-2");
    background-image: url('/assets/img/icon-spock.svg');
}

.board__btn--none {
    width: 6rem;
    height: 6rem;
    background-color: map-get($map: var.$colors-map, $key: "background");
    background-size: initial;
    border-radius: 50%;
    border: none;
    justify-self: center;
    opacity: .3;

    @media (min-width: 768px) {
        width: 8rem;
        height: 8rem;
    }
}