@use "mixins" as mix;
@use "variables" as var;

.play {
    min-height: 90vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
}

.play__header {
    grid-area: header;
}

.play__main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
}