<div class="play">

    <header class="play__header">
        <app-score [scoreImage]="scoreImg" [scoreClass]="scoreClass" [scoreValue]="scoreValue"></app-score>
    </header>


    <main class="play__main">

        <section class="play__section play__app">
            <router-outlet></router-outlet>
        </section>

        <section class="play__section play__btn">
            <button class="rules__btn" (click)="openModal()">Rules</button>
        </section>

    </main>

</div>

<!--* Modal rules -->
<app-rules *ngIf="toogleModal" (onClose)="closeModal($event)"></app-rules>