@use "mixins" as mix;
@use "variables" as var;

.results {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 125px;
    grid-template-areas:
        'user cpu'
        'result result';
    row-gap: 2rem;

    @media (min-width:768px) {
        width: 80%;
    }

    @media (min-width: 1300px) {
        width: 90%;
        max-width: 1330px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'user result cpu';
        row-gap: 0;
        gap: 1rem;
    }
}

.button {
    @include mix.flex-box(column, nowrap, center, center);
    gap: 1rem;
}

.button--user {
    grid-area: user;
    justify-self: start;

    @media (min-width: 1330px) {
        justify-self: end;
    }
}

.button--cpu {
    grid-area: cpu;
    justify-self: end;

    @media (min-width: 1330px) {
        justify-self: start;
    }
}

.button__container {
    @include mix.flex-box(column, nowrap, center, center);
    height: 8.75rem;

    @media (min-width:768px) {
        height: 13.125rem;
    }

    @media (min-width:1200px) {
        height: 15.625rem;
        order: 2;
    }
}

.button__app {
    border-radius: 50%;
    transition: all .5s;
}

.button--win {
    box-shadow: rgb(255 255 255 / 4%) 0px 0px 0px 80px, rgb(255 255 255 / 3%) 0px 0px 0px 50px, rgb(255 255 255 / 1%) 0px 0px 0px 25px;
}

.results__span {
    color: map-get($map: var.$colors-map, $key: "white");
    text-transform: uppercase;

    @media (min-width:1330px) {
        font-size: 1.5rem;
        order: 1;
    }
}

.results__info {
    @include mix.flex-box(column, nowrap, center, center);
    gap: 1rem;
    grid-area: result;
}

.results__h2 {
    color: map-get($map: var.$colors-map, $key: "white");
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.results__btn {
    background-color: map-get($map: var.$colors-map, $key: "white");
    color: map-get($map: var.$colors-map, $key: "background-2");
    padding: 1rem 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease;

    &:hover {
        color: map-get($map: var.$colors-map, $key: "rock");
    }
}