<div class="board board--advanced">

    <div class="board__scissors">
        <app-button [btnName]="'scissors'" (click)="goToResults('scissors')"></app-button>
    </div>

    <div class="board__paper">
        <app-button [btnName]="'paper'" (click)="goToResults('paper')"></app-button>
    </div>

    <div class="board__rock">
        <app-button [btnName]="'rock'" (click)="goToResults('rock')"></app-button>
    </div>

    <div class="board__lizard">
        <app-button [btnName]="'lizard'" (click)="goToResults('lizard')"></app-button>
    </div>

    <div class="board__spock">
        <app-button [btnName]="'spock'" (click)="goToResults('spock')"></app-button>
    </div>

</div>